.deps/
.dirstamp
.libs/
Makefile
Makefile.fragments
Makefile.objects
acinclude.m4
aclocal.m4
autom4te.cache/
build/
config.cache
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.ac
include/
install-sh
libtool
ltmain.sh
missing
modules/
run-tests.php
tmp-php.ini
*.dep
*.la
*.lo
*.o
*.orig
*.out
*.diff
*.exp
*.log
